.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.sideBar{
  background-color: white;
  display: inline-block;
  width: 300px;
  box-sizing: border-box;
  border: 3px solid black;
  height: calc( 100vh - 80px );
  float: left;
  text-align: left;
}

.Cover{
  display: inline-block;
  width: calc( 100vw - 300px);
  float: right;
}

.singerBlock{
  display: inline-block;
  width: 100px;
}

.songBlock{
  background-color: white;
  position: absolute;
  left: 120px;
  top: 10px;
  width: 190px;
  height: calc( 100vh - 90px );
  margin-top: 10px;
  margin-right: -10px;
  box-sizing: border-box;
  border: 3px solid black;
}

.songPicSideBar{
  position: absolute;
  bottom: 0;
}

.songPicSideBar > img {
  
}

.selectedList{
  color: red;
}

.pointer{
  cursor: pointer;
}